* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", system-ui;
  color: rgb(0, 0, 0);
}

body{
  background-image: url(/Photos/BG2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background: #fff;
}

ul,li {
  list-style: none;
}
a{
  text-decoration: none;
}

/*NAVBAR NAV*/

.navbar a {
  text-decoration: none;
  color:whitesmoke;
  margin: 3vh;
  transition: 0.3s;
  border: 3px solid #101820;
  padding: 1.5vh;
}
.nav a:hover{
  font-weight: bolder;
  color: #2196f3;
  border: 3px solid #2196f3;
  font-size: larger;
}
.nav .hideOnMobile{
  border-radius: 20px;
}
.navbar{
  height: 14vh;
  width: 100%;
  background: #101820;
  display: flex;
  justify-content:space-between;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 1030;
}
.navbar .brand {
  margin-left: 3rem;
  display: flex;
  align-items: center;
}
.navbar .brand a{
  font-size: 3vh;
}
.navbar .brand img{
  height: 80%;
  border-radius: 50%;
  transition: 0.3s;
  border: #ffff solid 3px;
}
.navbar .links{
  margin-right: 4vh;
  display: flex;
  align-items: center;
}
.navbar .links a{
  font-size: 2vh;
}
.menu-button{
  display: none;
}
.menu-button svg{
  transition: 0.3s;
}
.menu-button svg:hover{
  fill: #2196f3;
  width: 6vh;
}

/*SIDEBAR*/
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  flex-direction: column;
}
.sidebar img{
  padding-top: 3vh;
  padding-bottom: 1vh;
  width: 45%;
  border-radius: 50%;
  align-self: center;
}
.sidebar h2{
  width: 100%;
  padding: 3vh 0;
  color: whitesmoke;
  text-align: center;
  font-size: 3vh;
}
.sidebar a{
  padding: 3vh;
  margin: 0;
  width: 100%;
  transition: 0.5s;
}
.sidebar .side-links:hover{
  font-weight: bolder;
  color: #2196f3;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 6vh;
}
.sidebar hr{
  width: 100%;
  margin-bottom: 2vh;
  height: 0.5vh;
  border: none;
  background-color: whitesmoke;
}
.close-button svg{
  transition: 0.3s;
}
.close-button svg:hover{
  fill: #2196f3;
  height: 8vh;
  width: 8vh;
}
@media (max-width: 1400px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media (max-width: 800px){
  .hideLogo{
    display: none;
  }
  .sidebar{
    width: 100%;
  }
  .navbar .brand a{
    padding: 0.5vh;
    margin-left: 0.5vh;
  }
  .collaboration .collab-text{
    text-align: center;
  }
}
/*SOCIALS*/

#socials-list{
  margin: 1.5rem 0 0;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}
.socials img {
  height: 2.5rem;
}
/*COLLABORATIONS*/
.collaboration{
  margin-top: 1.5rem;
  padding: 2rem 0;
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap:wrap;
}
.collaboration .collab-text{
  min-width: 164.45px;
  width: 20%;
  font-size: large;
  font-weight: bold;
  text-align: center;
}


/*SKILLS*/
#skill-list{
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.skill {
  border: black solid 3px;
  border-radius: 10px;
  padding: 0.5rem;
  background: #ffffff93;
  text-align: center;
}

/*ABOUT*/
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 4rem 0;
}
.hero {
  background: linear-gradient(to right, #00bcd4, #2196f3);
  color: white;
  margin-top: 14vh;
  text-align: center;
}

.hero span {
  color: #ffffff;
}
.hero p{
  margin-top: 1rem;
  align-items: center;
}

.btn {
  display: inline-block;
  
  padding: 1rem 1.75rem;
  background: black;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: black solid 3px;
  text-decoration: none;
}
.btn:hover {
  background: white;
  color: #2196f3;
  border: black solid 3px;
  transition: 0.5s;
}

.section {
  border-top: black solid 0.2rem;
}
.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}
.item-list li {
  margin-bottom: 1rem;
}

.bg-light {
  background: #f3f1f1;
}
footer {
  background: #101820;
  color: white;
  text-align: center;
  padding: 2rem 0;
  font-size: 0.9rem;
}
footer p {
  color: #ffffff;
}
